html, body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
#body_wrapper{
    width:100%;
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#main_canvas{
    margin-top: 20vh;
    width: 300px;
    height: 300px;
    
    border: 1px solid black;
}
.horizontal_aligner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}