html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#body_wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.horizontal_aligner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#time, #position {
  font-weight: bolder;
  font-size: 50px;
}